@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .smooth_transition {
    @apply transition-all duration-200 cursor-pointer;
  }
  .mobile_view {
    @apply max-md:max-h-screen overflow-hidden;
  }
}

body {
  background-color: #f1f2f4;
}

/* humberger menu css */

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* end humberger menu css */

@media (max-width: 768px) {
  body {
    background-color: white;
  }
}

/* Checkbox css */
.material-checkbox {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #777777;
  cursor: pointer;
}

.material-checkbox input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border: 2px solid rgb(74, 81, 4);
  border-radius: 4px;
  transition: all 0.3s;
}

.material-checkbox input[type="checkbox"]:checked ~ .checkmark {
  background-color: rgb(41, 45, 1);
  border-color: #454B00;
}

.material-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 6px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.material-checkbox input[type="checkbox"]:focus ~ .checkmark {
  box-shadow: 0 0 0 2px #FFD910;
}

.material-checkbox:hover input[type="checkbox"] ~ .checkmark {
  border-color: #FFD910;
}

.material-checkbox input[type="checkbox"]:disabled ~ .checkmark {
  opacity: 0.5;
  cursor: not-allowed;
}

.material-checkbox input[type="checkbox"]:disabled ~ .checkmark:hover {
  border-color: #4d4d4d;
}
/* end checkbox css */

/* double dot button */

.input_range::-webkit-slider-thumb{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border:2px solid #FFD910;
  background: white;
  pointer-events: auto;
  appearance: none;
  cursor: pointer;
  box-shadow: 0.125rem .5625rem -0.125rem rgba(0, 0, 0, 0.25);
}

.input_range::-moz-range-thumb{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border:2px solid #FFD910;
  background: white;
  pointer-events: auto;
  -moz-appearance: none;
  cursor: pointer;
  box-shadow: 0.125rem .5625rem -0.125rem rgba(0, 0, 0, 0.25);
}

/* end double dot button */

.hide_scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide_scrollbar {
  overflow: -moz-scrollbars-none;
}

/* Hide scrollbar for IE and Edge */
.hide_scrollbar {
  -ms-overflow-style: none;
}